TZ=America/New_York

GHCR_USERNAME=your-ghcr-username
GHCR_TOKEN=your-ghcr-token

DO_TOKEN=your-digitalocean-token
DO_REGION=nyc3
DO_SIZE=s-1vcpu-2gb
DO_IMAGE=ubuntu-22-04-x64
DO_VPC_UUID=
DO_TAG=ephemeral-daily-run
DO_APP_TAG=app-runners
DO_SSH_KEY_ID=your-ssh-key-id-or-fingerprint
JOB_IMAGE=ghcr.io/mosesmc52/etf-volatility-harvest:latest

SPACES_KEY=your-spaces-key
SPACES_SECRET=your-spaces-secret
SPACES_BUCKET=your-spaces-bucket
SPACES_REGION=sfo3
SPACES_ENDPOINT=https://your-subdomain.sfo3.digitaloceanspaces.com

TO_ADDRESSES=alerts@example.com
FROM_ADDRESS=info@example.com

AWS_SES_REGION_NAME=us-east-1
AWS_SES_ACCESS_KEY_ID=your-ses-access-key
AWS_SES_SECRET_ACCESS_KEY=your-ses-secret-access-key
